{% extends "base.html" %}

{% load allauth account %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_css %}
<link rel="stylesheet" href="{% static './css/login.css' %}">
{% endblock %}

{% block content %}
    <div class="container justify-content-center">
        <div>
            <div class="row">
                <section id="home-hero">
                    <h2 class="display-3">Check your email</h2>              
                </section>
            </div>
        </div>
    </div>

    <div class="row mt-5 justify-content-center">
    <div class="col-10 col-sm-7 col-md-6 col-lg-5">
        <div class="form-bg-color p-4 shadow-sm text-center">
        <p>We’ve sent a password reset link (if the address is registered).<br>
            Follow the instructions in that email to continue.</p>
        <a href="{% url 'account_login' %}" class="btn login-btn mt-3">Back to login</a>
        </div>
    </div>
    </div>
{% endblock content %}
