{% extends "base.html" %}

{% load allauth account %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_css %}
<link rel="stylesheet" href="{% static './css/login.css' %}">
{% endblock %}

{% block content %}
    <div class="container justify-content-center">
        <div>
            <div class="row">
                <section id="home-hero">
                    <h2 class="display-3">Sign up</h2>              
                </section>
            </div>
        </div>
    </div>

    <div class="row mt-5 justify-content-center">
        <div class="col-10 col-sm-7 col-md-6 col-lg-5">
            <form method="post" action="{% url 'account_signup' %}" class="form-bg-color p-3 shadow-sm">
            {% csrf_token %}
            {% if form.non_field_errors %}
                <div class="alert alert-danger">
                    {% for error in form.non_field_errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}
            {% if form.username %}{{ form.username|as_crispy_field }}{% endif %}

            {{ form.email|as_crispy_field }}
            {{ form.password1|as_crispy_field }}
            {{ form.password2|as_crispy_field }}

            <button class="btn login-btn w-100 mt-2" type="submit">Sign up</button>
            </form>

            <p class="text-center mt-3">
            Already have an account?
            <a class="create-account-link" href="{% url 'account_login' %}">Log in</a>
            </p>
        </div>
    </div>
{% endblock content %}
