{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
    <div class="container justify-content-center mb-4">
        <div>
            <div class="row">
                <section id="home-hero">
                    <h2 class="display-4">My Account</h2>              
                </section>
            </div>
        </div>
    </div>
    <div class="row mt-5 justify-content-center">
    <div class="col-10 col-sm-8 col-lg-6">
        <div class="form-bg-color p-4 shadow-sm">
        {% if messages %}
            <div class="mb-3">
            {% for message in messages %}
                <div class="alert {% if message.tags %}alert-{{ message.tags }}{% else %}alert-info{% endif %}" role="alert">
                {{ message }}
                </div>
            {% endfor %}
            </div>
        {% endif %}

        <form method="post" novalidate>
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn bk-button">Save</button>
        </form>
        </div>
    </div>
    </div>
{% endblock %}
