/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Crafty+Girls&display=swap');

#home-hero {
    background-image: url('../images/hero-image.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 300px;    
    display: flex;
    align-items: center;          
    justify-content: center;      
    text-align: center;
    position: relative;
    overflow: hidden; 
}

#home-hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #6b4e7162;
    z-index: 0;
}

.basket-item {
    border: none;
    border-radius: 1rem;
    background: #fffdfb;
}

.basket-item img {
    border-radius: 0.75rem;
}

.basket-summary {
    border-radius: 1rem;
    background: #f8f6f2;
}

.bk-button {
    background-color: #53504f;
    border: #161212 solid 1px;
    color: #ffffff;
}

.bk-button:hover {
    background-color: #222120;
    border: #161212 solid 1px;
    color: #ffffff;
}

.proceed-to-order {
    background-color: #56423E;
    border: #3a2d2a solid 1px;
    color: #ffffff;
}

.proceed-to-order:hover {
    background-color: #725853;
    border: #5c4743 solid 1px;
    color: #ffffff;
}

.pattern-cover-image {
    width:64px;
    height:64px;
    object-fit:cover;
}

.download-btn {
    margin-left: 20px;
    background-color: #6b4e71;
    border: #5c3e5f solid 1px;
    color: #ffffff;
}

.download-btn:hover {
    margin-left: 20px;
    background-color: #936b9b;
    border: #5c3e5f solid 1px;
    color: #ffffff;
}