.bk-button {
    background-color: #53504f;
    border: #161212 solid 1px;
    color: #ffffff;
}

.bk-button:hover {
    background-color: #222120;
    border: #161212 solid 1px;
    color: #ffffff;
}

.proceed-to-order {
    background-color: #56423E;
    border: #3a2d2a solid 1px;
    color: #ffffff;
}

.proceed-to-order:hover {
    background-color: #725853;
    border: #5c4743 solid 1px;
    color: #ffffff;
}
