/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Crafty+Girls&display=swap');

#home-hero {
    background-image: url('../images/hero-image.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 300px;    
    display: flex;
    align-items: center;          
    justify-content: center;      
    text-align: center;
    position: relative;
    overflow: hidden; 
}

#home-hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(107, 78, 113, 0.384);
    z-index: 0; 
}

.order-summary {
    background: #fffdfb;
}

.order-summary .card-header {
    background: #f8f6f2;
}

.order-summary img {
    border-radius: 0.5rem;
    box-shadow: 0 2px 5px rgba(0,0,0,0.08);
}

.bk-button {
    background-color: #53504f;
    border: #161212 solid 1px;
    color: #ffffff;
}

.bk-button:hover {
    background-color: #222120;
    border: #161212 solid 1px;
    color: #ffffff;
}